/* userpage.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #cce7ff, #e1ccef, #ffd3e0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .userpage-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  
  .userpage-card {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .userpage-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  
  .userpage-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .input-group {
    text-align: left;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: #a17cc3;
  }
  
  .userpage-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a17cc3;
    color: white;
    font-size: 18px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .userpage-button:hover {
    background-color: #7d5aa5;
  }
  
  .userpage-button:active {
    transform: scale(0.98);
  }
  

  .google-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4285F4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .google-button:hover {
    background-color: #357ae8;
  }
  