.titlePackage
{
    font-size: 30px; 
    font-weight:600;
    font-family: Arial, sans-serif; 
}

@media (max-width: 480px) { 
    .titlePackage {
        font-size: 22px;
        margin-top: 10px;

    }
}