.decrease-button
{
    color:rgb(255, 255, 255);
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    background-color: rgb(121, 9, 9);
    font-weight: bold; 
    border: none;

}

.decrease-button:hover
{
    color:rgb(255, 255, 255);
    background-color: rgb(162, 36, 36);
}


